#watch-section{
    background: url(images/watch-Section.png);
}

.youTube-icon{
    width: 200px;
    height: 500px;
    position: relative;
    left: 580px;
    top: 220px;
    text-align: center;
    color: white;
    
}


